{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block active %}
<a class="nav-link" href="{{ url_for('single') }}">Single case simulation</a>
<a class="nav-link" href="{{ url_for('batch') }}">Batch simulation</a>
{% endblock %}

{% block content %}

<h1>USpekPy Web</h1>
<p>
    <span class="text-primary">USpekPy web</span> is a web application that allows you to compute mean radiation protection quantities for a simulated x-ray spectrum with uncertainties using Monte Carlo techniques.
    It allows to compute the mean values and uncertainties of the following <span class="text-primary">integral quantities</span>: the first and second half-value layer for aluminium and copper, the mean energy, the air kerma and the mean air kerma-to-dose-equivalent conversion coefficient.
    USpekPy web is based on <span class="text-primary">USpekPy</span> and <span class="text-primary">SpekPy</span> Python packages.
    USpekPy web allows you to simulate a <span class="text-primary">single case</span> or a <span class="text-primary">batch of cases</span>.
    A single case is defined for a specific x-ray radiation quality and a specific operational magnitude at a specific irradiation angle.
</p>

<a href="{{ url_for('single') }}" class="btn btn-primary rounded-pill" role="button">Single case simulation</a>
<a href="{{ url_for('batch') }}" class="btn btn-primary rounded-pill" role="button">Batch simulation</a>

{% endblock %}