{% extends 'base.html' %}

{% block title %}USpekPy web - {% endblock %}

{% block active %}
<a class="nav-link" href="{{ url_for('index') }}">Home</a>
<a class="nav-link active" aria-current="page" href="{{ url_for('uspekpy') }}">USpekPy</a>
<a class="nav-link" href="{{ url_for('user_guide') }}">User guide</a>
{% endblock %}

{% block content %}
<h1>USpekPy Web</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna
    aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. Quis
    aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint obcaecat
    cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<form>
    <div class="row mb-3">
        <label for="qualitySeries" class="col-sm-2 col-form-label">Quality series</label>
        <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" id="qualitySeries">
                <option selected>Select quality series</option>
                <option value="1">N</option>
                <option value="2">L</option>
                <option value="3">H</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="quality" class="col-sm-2 col-form-label">Quality</label>
        <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" id="quality">
                <option selected>Select quality</option>
                <option value="1">N30</option>
                <option value="2">N45</option>
                <option value="3">N60</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="operationalQuantity" class="col-sm-2 col-form-label">Operational quantity</label>
        <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example" id="operationalQuantity">
                <option selected>Select operational quantity</option>
                <option value="1">H*(10)</option>
                <option value="2">Hp(0.03, slab)</option>
                <option value="3">Hp(0.7, slab)</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="irradiationAngle" class="col-sm-2 col-form-label">Irradiation angle</label>
        <div class="col-sm-8">
            <input type="number" class="form-control" id="irradiationAngle" aria-describedby="angleUnit"
                   placeholder="0">
        </div>
        <div class="col-sm-2">
            <div id="angleUnit" class="form-text">deg</div>
        </div>
    </div>
    <div class="row mb-3">
        <label for="simulationsNumber" class="col-sm-2 col-form-label">Simulations number</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="simulationsNumber" placeholder="10">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}